{% extends "base.html" %}
{% load static %}
{% block title %}Transactions{% endblock %}

{% block content %}
<div class="mt-4">
    <h2 class="mb-3">Transaction History</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Sender</th>
                    <th scope="col">Receiver</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Currency</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.timestamp|date:"Y-m-d H:i" }}</td>
                    <td>{{ transaction.sender.username }}</td>
                    <td>{{ transaction.receiver.username }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.currency }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{% url 'payapp:home' %}" class="btn btn-secondary mt-3"><i class="fas fa-arrow-left"></i> Back</a>
</div>
{% endblock %}
